/* You can add global styles to this file, and also import other style files */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body {
    background-color: #f0f2f4;
    /*background-image: url('./assets/images/restaurant-backgound-2.jpg');*/
    /* background: url('./assets/images/restaurant-backgound-3.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}
